{% include lang.html %}
<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">

	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<a href="#" class="navbar-toggle" data-toggle="collapse" data-target="#p2pu-menu">
			<i class="fa fa-bars"></i>
		</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="container">
		<div class="collapse navbar-collapse" id="p2pu-menu">
			<ul class="nav navbar-nav">
				<li>
        <a href="{{ site.baseurl }}/{{ language }}/"><i class="fa fa-home"></i></a>
				</li>
        {% assign lang_url_prefix='/'|append:language|append:'/' %}
				{% for module in site.data[language].modules %}
          {% for post in site.categories[module] %}
              {% if post.url contains lang_url_prefix %}
              {% assign first_post=post %}
            {% endif %}
          {% endfor %}
					<li class="{% if page.categories[1] == module %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
						<a href="{{ site.baseurl }}{{ first_post.url }}"
						   class="">
							{{ module }}
						</a>
					</li>
				{% endfor %}
			</ul>
      <ul class="nav navbar-nav pull-right">
        <!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu"-->
            {% if language != 'en' %}<li><a href="{{ site.baseurl }}/en/">English</a></li>{% endif %}
            {% if language != 'sv' %}<li><a href="{{ site.baseurl }}/sv/">Svenska</a></li>{% endif %}
            {% if language != 'pl' %}<li><a href="{{ site.baseurl }}/pl/">Wersja polska</a></li>{% endif %}
          <!--/ul>
        </li-->
      </ul>
			<ul class="p2pu-logo">
				<li><a class="p2pu-tab" href="https://www.p2pu.org/" target="_blank"><img src="{{ site.baseurl }}/img/logo.png" alt="{{ site.title }}" /></a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!-- End Navigation -->
