<div class="sidebar col-md-3">
  {% include lang.html %}
	{% include next_module.html %}

	{% if prev %}
		<div class="pagination-section">
			<div class="title">
        {{ site.data[language].previous_module }}
			</div>
			<a rel="prev" class="prev" href="{{ site.baseurl }}{{ prev_post.url }}">
				{{ prev }} </a>
		</div>
		<hr />
	{% endif %}
	<ul>
    {% assign lang_url_prefix='/'|append:language|append:'/' %}
		{% for post in site.categories[module] reversed %}
      {% if post.url contains lang_url_prefix %}
			<li class="{% if post.url == page.url %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
				<a
						href="{{ site.baseurl }}{{ post.url }}">
					{{ post.title }}
				</a>
			</li>
      {% endif %}
		{% endfor %}
	</ul>
	{% if next %}
		<hr />
		<div class="pagination-section">
			<div class="title">
        {{ site.data[language].next_module }}
			</div>
			<a rel="next" class="next" href="{{ site.baseurl }}{{ next_post.url }}"> {{ next }}
			</a>
		</div>
	{% endif %}
</div>
